
<div> 
      <span>Name: </span> 
      <%= @grade.name %>
</div>

<div>   
        <span>Course: </span>
        <%= @grade.course %>
</div>

<div>
        <span>ID number: </span> 
        <%= @grade.id_num %>
</div>

<div>
        <span>Average Grade:</span>
        <%= @grade.ave_grade %>
</div>